{% extends "base.html" %}
{% block title %}{{ _('home_title') }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
<div class="overlay2"></div>
<div class="floating-image" id="img" style="background-image: url('{{ url_for('static', filename='back.jpg') }}');">
</div>

<div class="container">
    <button class="image-button image-button1" onclick="location.href='{{ url_for('roller') }}'">{{
        _('menu_dice_roller') | safe }}</button>
    <button class="image-button image-button2"
        onclick="location.href='{{ url_for('character_sheets') if request.endpoint == 'character_sheets' else url_for('karty_postaci') }}'">{{
        _('menu_character_sheets') | safe }}</button>
    <button class="image-button image-button3" onclick="location.href='{{ url_for('karty_traderow') }}'">{{
        _('menu_trader_manager') | safe }}</button>
    <button class="image-button image-button4" onclick="location.href='{{ url_for('npc_manager') }}'">{{
        _('menu_npc_manager') | safe }}</button>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}