{% extends "base.html" %}
{% block title %}Strona Główna{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
    <div class="overlay2"></div>
    <div class="floating-image" id="img"></div>

    <div class="container">
        <button class="image-button image-button1" onclick="location.href='{{ url_for('roller') }}'">Dice <br> Roller</button>
        <button class="image-button image-button2" onclick="location.href='{{ url_for('karty_postaci') }}'">Character <br> Sheet</button>
         <button class="image-button image-button3" onclick="location.href='{{ url_for('karty_traderow') }}'">Trader <br> Manager</button>
        <button class="image-button image-button4" onclick="location.href='{{ url_for('npc_manager') }}'">NPC <br> Manager</button>
    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}