{% extends "base.html" %}
{% block title %}Nowa Karta Postaci{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='character_cards.css') }}?v={{ range(1, 9999) | random }}">

<div class="floating-image" id="img" style="background-image: url('{{ url_for('static', filename='back2.jpg') }}');">
</div>
<div class="overlay2" style="background-color: rgba(20, 50, 40, 0.6);"></div>

<div class="card-form-container-cthulhu">
    <h1 class="header-text-cthulhu">Nowa Karta Cthulhu</h1>

    <form method="POST" class="character-form-cthulhu">


        <!-- Wiersz 1 -->
        <div class="form-row">
            <div class="form-field">
                <label>Imię</label>
                <input type="text" name="imie" placeholder="Imię postaci">
            </div>
            <div class="form-field">
                <label>Gracz</label>
                <input type="text" name="gracz" placeholder="Imię gracza">
            </div>
            <div class="form-field">
                <label>Profesja</label>
                <input type="text" name="profesja" placeholder="Profesja">
            </div>
        </div>

        <!-- Wiersz 2 -->
        <div class="form-row">
            <div class="form-field">
                <label>Wiek</label>
                <input type="text" name="wiek" placeholder="Wiek">
            </div>
            <div class="form-field">
                <label>Płeć</label>
                <input type="text" name="plec" placeholder="Płeć">
            </div>
            <div class="form-field">
                <label>Miejsce</label>
                <input type="text" name="miejsce" placeholder="Miejsce urodzenia">
            </div>
        </div>

        <!-- Wiersz 3 -->
        <div class="form-row stats-row">
            <div class="stat-group">
                <div class="form-field-small">
                    <label>S</label>
                    <input type="number" name="s" value="0" min="0">
                </div>
                <div class="form-field-small">
                    <label>ZR</label>
                    <input type="number" name="zr" value="0" min="0">
                </div>
                <div class="form-field-small">
                    <label>Moc</label>
                    <input type="number" name="moc" value="0" min="0">
                </div>
            </div>

            <div class="stat-separator"></div>

            <div class="stat-group">
                <div class="form-field-small">
                    <label>PW</label>
                    <input type="number" name="pw1" value="0" min="0" style="width: 50px;">
                </div>
                <div class="form-field-small">
                    <label>&nbsp;</label>
                    <input type="number" name="pw2" value="0" min="0" style="width: 50px;">
                </div>
            </div>
        </div>

        <!-- Wiersz 4 -->
        <div class="form-row stats-row">
            <div class="stat-group">
                <div class="form-field-small">
                    <label>Kon</label>
                    <input type="number" name="kon" value="0" min="0">
                </div>
                <div class="form-field-small">
                    <label>Wyg</label>
                    <input type="number" name="wyg" value="0" min="0">
                </div>
                <div class="form-field-small">
                    <label>Wyk</label>
                    <input type="number" name="wyk" value="0" min="0">
                </div>
            </div>

            <div class="stat-separator"></div>

            <div class="stat-group">
                <div class="form-field-small">
                    <label>Szczęście</label>
                    <input type="number" name="szczescie" value="0" min="0">
                </div>
            </div>
        </div>

        <!-- Wiersz 5 -->
        <div class="form-row stats-row">
            <div class="stat-group">
                <div class="form-field-small">
                    <label>BC</label>
                    <input type="number" name="bc" value="0" min="0">
                </div>
                <div class="form-field-small">
                    <label>Int</label>
                    <input type="number" name="intel" value="0" min="0">
                </div>
                <div class="form-field-small">
                    <label>Ruch</label>
                    <input type="number" name="ruch" value="0" min="0">
                </div>
            </div>

            <div class="stat-separator"></div>

            <div class="stat-group">
                <div class="form-field-small">
                    <label>Poczytalność</label>
                    <input type="number" name="poczytalnosc" value="0" min="0">
                </div>
            </div>
        </div>

        <!-- Przyciski -->
        <div class="form-buttons">
            <button type="submit" class="btn btn-save">Zapisz</button>
            <button type="button" class="btn btn-skills" disabled>Umiejętności</button>
            <button type="button" class="btn btn-weapon" disabled>Broń</button>
            <a href="{{ url_for('wybierz_system') }}" class="btn btn-create">+ Nowa Karta</a>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}